## gradle
/.gradle
/build
/gradle
/gradlew
/gradlew.bat
/build.gradle
/build.gradle~
/forge-1.7.2-10.12.0.1047-changelog.txt

## ForgeGradle
/run

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml
